<div style="padding-top: 30px;width: 60%; height: auto; margin: 0 auto;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Carrera</th>
        <th style="text-align: center">Cantidad de Cursos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @carreras.each do |c| %>
        <tr>
          <td><%= c.name %></td>
          <td style="text-align: center"><%= c.ramos.length %></td>
          <td><a style="color:white" href="/<%= c.id %>/cursos" class="btn btn-primary">Cursos</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>